fastapi
uvicorn
sqlalchemy
geoalchemy2
psycopg2-binary
python-multipart

# Model Dependencies
# Downgraded to 2.1.2 to match your server's CUDA 11 driver
torch==2.1.2
torchvision==0.16.2
transformers==4.24.0
pillow==8.4.0
timm==0.9.16

# Scientific computing
scikit-learn>=1.2.0
termcolor==1.1.0